################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/RekrutacjaCieslak/x64/Debug
/.vs/RekrutacjaCieslak/v16
/RekrutacjaCieslak/x64/Release
/x64
